Source: userwebkit
Section: python
Priority: optional
Maintainer: Jason Gerard DeRose <jderose@novacut.com>
Build-Depends: debhelper (>= 8.9), python3 (>= 3.2),
    python3-microfiber (>= 11.12),
    python3-gobject,
    gir1.2-gtk-3.0,
    gir1.2-webkit-3.0,
Standards-Version: 3.9.2
X-Python-Version: 3.2
X-Python3-Version: 3.2
Homepage: https://launchpad.net/userwebkit

Package: python3-userwebkit
Architecture: all
Depends: ${misc:Depends}, python3 (>= 3.2),
    python3-microfiber (>= 12.01),
    python3-usercouch (>= 12.01) | dc3 (>= 12.01),
    python3-gi | python3-gobject,
    gir1.2-gtk-3.0,
    gir1.2-webkit-3.0,
Description: Allows WebKitGtk apps to talk to a local per-user CouchDB.
 FIXME.
