body, input, textarea, select, option {
    font-family: Ubuntu, sans-sarif;
    font-size: 15px;
}

code, pre {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 17px;
}

body, div, p, li, pre, code, img {
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

p, li, pre, code {
    cursor: default;
}

.hide {
    display: none !important;
}
